@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Bebas;
    src: url("./fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: DM;
    src: url("./fonts/DMSans_18pt-Regular.ttf");
}

body {
    font-family: DM;
    font-size: large;
    font-display: swap;
    background-color: #000;
    color: #fff;
}

h1 {
    font-family: Bebas;
    font-display: swap;
}

@media (min-width:640px) {
    .login-container {
        background-image: url("./assets/fondo.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: top;
    }
}

@media (min-width:1280px) {
    .login-container {
        background-position: right;
    }
}